<%- include ("../../partials/header.ejs") %>

    <body>
        <%- include ("../../partials/navbar.ejs") %>
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h2>Editando artigo</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/articles/update">
                            <input type="text" name="title" class="form-control"
                                placeholder="Defina o títiulo da artigo" value="<%= article.title %>">
                            <input type="hidden" name="id" value="<%= article.id %>">
                            <br>
                            <textarea name="body" id="article" cols="30" rows="10"
                                class="form-control"><%= article.body %></textarea>
                            <br>
                            <label for="category">Categoria</label>
                            <select name="category" id="" class="form-control">
                                <% categories.forEach(category=>{%>
                                    <option value="<%= category.id%>" 
                                        <% if(category.id==article.categoryId){%>
                                            selected="selected"
                                        <%}%>> <%= category.title %>
                                    </option>
                                    <% }) %>
                            </select>
                            <br>
                            <button class="btn btn-success">Salvar</button>
                        </form>
                    </div>
                </div>

            </div>
    </body>

    <%- include ("../../partials/footer.ejs") %>
        <%- include ("../../partials/tinymce.ejs") %>